<div>
  <table class="table">

    <thead>
      <tr>
        <th>№</th>
        <th>Результат</th>
      </tr>
    </thead>
    <tbody>
        <% @result.each_with_index do |el, idx| %>
          <tr>
            <td> <%= idx %>.</td>
            <td id="col<%=@i+=1%>"> <%= el %> </td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

