<h1>Example#show</h1>
<p>Find me in app/views/example/show.html.erb</p>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>№</th>
        <th>Результат</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 1 </td>
        <td><%= @digit %></td>
      </tr>
      </tr>
    </tbody>
  </table>
</div>
<h1 id="asd">

<% a = @digit.to_f %>

<% @x0 = a %>
<% @i=1 %>
<% @x1 = @x0 + 1  %>

<% while ((@x1**2 - a) / a) >= 0.001 %>
<%    extra = @x1 %>
<%    @x0 = extra %>
<% @i+=1%>
<%    @x1 = 0.5 * (@x0 + a / @x0) %>
<% end %>

<%= @x1 %>
</h1>


<script>help(2)</script>

